@model AddressBookCRUD.Models.Person

<h2>
    Сохранить
</h2>
@using (Html.BeginForm("save", "home", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.Id > 0)
    {
        @Html.HiddenFor(a => a.Id)
    }

    <div class="form-group">
        <label>
            Имя
        </label>
        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.FirstName)
    </div>
    <div class="form-group">
        <label>
            Фамилия
        </label>
        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.LastName)
    </div>
    <div class="form-group">
        <label>
            Отчество
        </label>
        @Html.TextBoxFor(a => a.SecondName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.SecondName)
    </div>
    <div class="form-group">
        <label>
            Дата рождения
        </label>
        @Html.TextBoxFor(a => a.BirthDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.BirthDate)
    </div>
    <div class="form-group">
        <label>
            Описание
        </label>
        @Html.TextBoxFor(a => a.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Description)
    </div>
    <div class="form-group">
        <label>
            Email
        </label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Email)
    </div>
    <div>
        <input type="submit" value="Сохранить" />
    </div>
}
